.resume-img {
  width: 50%;
  height: 35em;
  position: relative;
  bottom: 2em;
}

@media only screen and (max-width: 450px) {
  /* for mobile design */
  .resume-img {
    margin-top: 2em;
    width: 90%;
  }
}
