.home-content-container {
  width: 80%;
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.summary {
  text-align: center;
  font-size: 24px
}

.headshot {
  width: 25%;
  height: 20em;
  border-radius: 50%;
}